*/*.csv
*/*.dat
*/*.iml
*/*.pid
*/*.seed
*/*.sublime-*
*/*.swo
*/*.swp
*/*.tgz
*/.idea
*/.vscode
*/.project
*/.strong-pm
*/node_modules
*/build
*/npm-debug.log
*/.tmp
*/log

.git
.idea
.vscode
node_modules
dump
dist
log
